@{
    ViewData["Title"] = "About Us";
}

<div class="TextContainer">
    @* Code for heading *@
    <h1 class="display-4" style="font-family:Arial"><b>About Us</b></h1>
</div>
<div> <br /></div>

<div class="row">
    @* Code for creating conatiners in a row with images and text inside *@
    <div class="col-md-4">
        <div class="paraContainer ">
            <p>
                <b>Our Company </b>
                <br />
                <img src="~/images/WhatsApp-Image-2023-12-15-at-21.28.36.jpeg" width="350px" height="230px" style="border-radius:5px;" /> @* Image from: google.com *@
                Welcome to Khumalo Craft, the brainchild of visionary entrepreneur James Khumalo. Our journey began from James's passion for showcasing the diverse and rich tapestry of handcrafted products from artisans around the globe. Fueled by a dream to bridge the gap between local craftsmanship and a global audience, Khumalo Craft was born.

                In a world where mass-produced goods dominate, we at Khumalo Craft strive to bring the human touch back to commerce. Our platform is more than just an e-commerce site, it's a community where artisans can share their stories and customers can find unique, meaningful products.
            </p>
        </div>
    </div>

    <div class="col-md-4">
        @* Code for creating conatiners in a row with images and text inside *@
        <div class="paraContainer ">
            <p>
                <b>Our Mission </b>
                <br />
                <img src="~/images/014_vision_01.jpg" width="350px" height="230px" style="border-radius:5px;" />  @* Image from: google.com *@
                To empower artisans worldwide by providing a global stage for their handcrafted products, while offering customers a collection of unique, high-quality crafts that celebrate cultural heritage and craftsmanship.
            </p>

        </div>
    </div>

    @* Code for creating conatiners in a row with images and text inside *@
    <div class="col-md-4">
        <div class="paraContainer ">
            <p>
                <b>Our Founder </b>
                <br />
                <img src="~/images/depositphotos_235999434-stock-photo-selective-focus-african-american-casual.jpg" width="350px" height="230px" style="border-radius:5px; align-content:center;" />  @* Image from: google.com *@
                James Khumalo, the founder of Khumalo Craft, is an entrepreneur with a vision. Growing up in a community rich in artisanal tradition, he witnessed firsthand the challenges local craftsmen faced in reaching a wider market. This experience planted the seeds for what would eventually become Khumalo Craft. James's dedication to social impact and his keen business acumen have propelled the company from a simple idea to a thriving platform that connects artisans with customers worldwide. His leadership is guided by the belief that every handcrafted piece has a story worth sharing and that by bringing these stories to the world, we can make a difference in the lives of artisans and enrich the lives of customers.
            </p>
        </div>
    </div>
</div>
