@{
    ViewData["Title"] = "Contact Us";
}

<div class="TextContainer"> 
    <h1 class="display-4" style="font-family:Arial"><b>Contact Us</b></h1>
</div>
<div> <br /></div>

<div class="row"> @* Code for creating conatiners in a row  *@
    <div class="col-md-4">
        <div class="paraContainer ">
            <h4>
                <b>Email </b>
                <br />
                <br />
                <img src="~/images/email.jpg" width="350px" height="250px" style="border-radius:5px;" /> @* Image from: google.com *@
                <br />
                <br />
                 khumalocrafts@gmail.com
                 </h4>
        </div>
    </div>

    <div class="col-md-4">  @* Code for creating conatiners in a row  *@
        <div class="paraContainer ">
            <h4>
                <b>Phone Number </b>
                <br />
                <br />
                <img src="~/images/phone.jpg" width="350px" height="250px" style="border-radius:5px;" /> @* Image from: google.com *@
                <br />
                <br />
                0396825478
            </h4>

        </div>
    </div>

    <div class="col-md-4">  @* Code for creating conatiners in a row  *@
        <div class="paraContainer ">
            <h4>
                <b>Instagram</b>
                <br />
                <br />
                <img src="~/images/instag.png" width="350px" height="250px" style="border-radius:5px; align-content:center;" /> @* Image from: google.com *@
                <br />
                <br />
                kcrafts_store
            </h4>
        </div>
    </div>
</div>
